<table>
  <thead>
    <tr>
      <th>Pages</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.name %></td>
        <td><a href="<%= "#{root_url}static_pages/#{page.name}" %>" >open</a></td>
      </tr>
    <% end %>
  </tbody>
</table>
